<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Scoreboard | Finished Matches</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/app.js}"></script>
</head>

<body>
<header class="header">
    <section class="nav-header">
        <div class="brand">
            <div class="nav-toggle">
                <img src="../static/images/menu.png" alt="Logo" class="logo">
            </div>
            <span class="logo-text">TennisScoreboard</span>
        </div>
        <div>
            <nav class="nav-links">
                <a class="nav-link" th:href="@{/}">Home</a>
                <a class="nav-link" th:href="@{/matches}">Matches</a>
            </nav>
        </div>
    </section>
</header>
<main>
    <div class="container">
        <h1>Matches</h1>
        <div class="input-container">
            <form th:action="@{/matches}" method="get">
                <input class="input-filter"
                       placeholder="Filter by name"
                       type="text"
                       name="filterByPlayerName"
                       th:value="${filterByPlayerName}"/>
                <div>
                    <a th:href="@{/matches}">
                        <button type="button" class="btn-filter">Reset Filter</button>
                    </a>
                </div>
            </form>
        </div>

        <table class="table-matches">
            <tr>
                <th>Player One</th>
                <th>Player Two</th>
                <th>Winner</th>
            </tr>
            <!-- Dynamic content using Thymeleaf -->
            <tr th:each="match : ${matches.content}">
                <td th:text="${match.player1.getName()}">Player One</td>
                <td th:text="${match.player2.getName()}">Player Two</td>
                <td>
                    <span class="winner-name-td" th:text="${match.winner.getName()}">Winner</span>
                </td>
            </tr>
        </table>

        <div class="pagination" th:if="${matches.totalPages > 1}">
            <a class="prev"
               th:href="@{/matches(page=${matches.number > 0 ? matches.number - 1 : 0}, filterByPlayerName=${filterByPlayerName})}">
                &lt;
            </a>

            <a th:each="i : ${#numbers.sequence(1, matches.totalPages)}"
               th:class="${matches.number + 1 == i} ? 'num-page current' : 'num-page'"
               th:href="@{/matches(page=${i - 1}, filterByPlayerName=${filterByPlayerName})}"
               th:text="${i}">
                1
            </a>

            <a class="next"
               th:href="@{/matches(page=${matches.number < matches.totalPages - 1 ? matches.number + 1 : matches.totalPages - 1}, filterByPlayerName=${filterByPlayerName})}">
                &gt;
            </a>
        </div>
    </div>
</main>
</body>
</html>
